@{
    ViewBag.Title = "Conversion Station";
}

@model Conversion.GallonsLiters

<div class="jumbotron">
    <h1>Conversion Station</h1>
    <p class="lead">Convert units of measurments.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<li>@Html.ActionLink("Contact", "Contact", "Home")</li>